@import url("https://fonts.googleapis.com/css2?family=Preahvihear&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
:root {
  --card-color: rgb(31, 23, 75);
}
*,
::after,
::before {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
body{
  background-image: url("/src/assets/stars_background.jpg");
  animation: starsrotate 10s infinite;
  animation-timing-function: linear;
  
  
}
@keyframes starsrotate {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: 612px;
  }
  
}
.blue {
  color: rgb(95, 67, 255);
}
.green {
  color: greenyellow;
}
.pink {
  color: rgb(255, 6, 143);
}
body {
  background-color: #0c0c1d;
  position: relative;
  font-family: "Preahvihear", sans-serif;
  text-shadow: 0 0 5px rgb(47, 0, 255);
}

nav {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  padding: 1em;
  z-index: 2;
}

nav > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #11122c;
  border-radius: 40px;
  width: 70px;
  height: 300px;
  padding: 1em;
  font-size: 24px;
}
nav div a {
  text-decoration: none;
  color: white;
}
nav div i {
  transition: all ease-in-out 0.15s;
}

nav div i:hover {
  text-shadow: 0 0 5px currentColor;
  scale: 1.15;
}

/* HOME PAGE  */
.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.home .intro {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  color: white;
}

.home .intro div {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.home .intro h1 {
  font-size: 60px;
  color: white;
}
.home .intro div h1 span {
  text-shadow: 0 0 5px currentColor;
}
.home .intro div p {
  font-size: 28px;
  /* padding: 1rem 2rem 2rem 2rem; */
}

.home .intro img {
  width: 500px;
  filter: drop-shadow(3px -5px 10px rgb(95, 67, 255));
}

.home .overview {
  width: 70%;
  display: flex;
  flex-direction: column;
  color: white;
}
.home .overview h1 {
  font-size: 60px;
  text-shadow: 0 0 5px currentColor;
  color: rgb(95, 67, 255);
}
.home .overview h3 {
  font-size: 26px;
}
.home .overview > p {
  letter-spacing: 2px;
  line-height: 2;
  font-size: 16px;
  width: 60ch;
}

.cards {
  display: flex;
  justify-content: space-between;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all ease-in-out 0.5s;
}

.card div {
  margin: 2em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--card-color);
  border-radius: 10px;
  padding: 1em 0;
  /* transition: all ease-in-out 0.1s; */
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
}
.card {
  width: 300px;
  position: relative;
}
.card:hover div {
  box-shadow: 0 0 20px rgb(95, 67, 255);
  border: 2px solid white;
}

.card::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0 0;
  z-index: 99;
}

.card div p {
  padding: 1em 0;
}
.card div img {
  padding: 1em 0;
  width: 200px;
}

/* PROJECTS */
.projects {
  margin-top: 150px;
  color: white;
  width: 70%;
}

.projects > div > h1 > span {
  font-size: 60px;
}

.projects p {
  letter-spacing: 2px;
  line-height: 2;
  width: 60ch;
  margin-top: 1em;
}

.project-cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 2em;
}
.project-card {
  position: relative;
}

.project-card div {
  background-color: var(--card-color);
  padding: 1em;
  border-radius: 20px;
  width: 400px;
  height: 500px;
  margin-bottom: 2em;
  transform: perspective(1000px) rotateX(0deg) rotateY(0deg);
}

.project-card:hover div {
  box-shadow: 0 0 20px rgb(95, 67, 255);
  border: 2px solid white;
}

.project-card::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  inset: 0 0;
  z-index: 99;
}

.project-card img {
  border-radius: 20px;
  width: 100%;
}
.project-card p {
  font-family: "Quicksand", sans-serif;
  line-height: 1.5;
  font-size: 14px;
  width: 40ch;
}

.projects > div:last-child {
  display: flex;
  justify-content: center;
  padding: 1em;
}
.projects > div:last-child h1 {
  letter-spacing: 2px;
  word-spacing: 2px;
}

.qualifications {
  width: 70%;
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.qualifications>h1 {
  font-size: 60px;
  width: 100%;
  letter-spacing: 2px;
}
.qualifications>p{
  color: white;
  width: 100%;
  text-align: left;
  margin-bottom: 2em;
  letter-spacing: 2px;
}
.quali-cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.qualicard{
  border-radius: 20px;
  height: 500px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  padding: 1.5em;
  background-color: var(--card-color);
  margin: 1em;
  transition: ease-in-out .25s;
}
.qualicard h1{
  letter-spacing: 1px;
  padding: 0.5em;
}
.qualicard p{
  font-family: "Quicksand", sans-serif;
  letter-spacing: 1px;
  line-height: 1.5;
  font-size: 16px;
}

.qualicard:hover{
  transform: scale(1.05);
  border: 2px solid white;
  box-shadow: 0 0 20px rgb(95, 67, 255);
}

.contactus{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2em;
  margin-top: 150px;
  width: 70%;
  margin-bottom: 120px;
}
.planets{
  padding: 1em;
}
.inputs{
  display: flex;
  flex-direction: column;
  padding: 1em;
  /* border: 1px solid white; */
}
::placeholder{
  color: white;
  opacity: 0.7;
}
.inputs input{
  background-color: var(--card-color);
  border: none;
  color: white;
  font-size: 20px;
  padding: 1em;
  border-radius: 50px;
  margin: 2em 0;
}
.inputs button img{
  width: 100px;
  transition: ease-in-out 0.25s;
}
.inputs button{
  border: none;
  background: none;
  transition: ease-in-out 0.25s;
}
.inputs button:hover img{
  transform: scale(1.2);
  filter: drop-shadow(-20px 15px 10px rgb(255, 132, 0));
}

.inputs h1{
  font-size: 60px;
}

#earth {
  position: relative;
  background-image: url("/src/assets/venus_map.jpg");
  width: 500px;
  height: 500px;
  box-shadow: inset -80px -15px 40px 3px rgba(0, 0, 0, 0.9);
  border-radius: 50%;
  background-size: 1000px;
  animation: rotateEarth 25s infinite;
  animation-timing-function: linear;
  background-position: 300px;
}

@keyframes rotateEarth {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: 1000px;
  }
}
@keyframes rotateVenus {
  0% {
    background-position: 0px;
  }
  100% {
    background-position: 600px;
  }
}



@media (max-width: 600px) {
  nav {
    top: auto;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
  nav div {
    flex-direction: row;
    width: 300px;
    height: 70px;
    justify-content: space-between;
    align-items: center;
  }
  nav div a {
    padding: 0;
  }

  .home .intro {
    flex-direction: column-reverse;
    margin-bottom: 50px;
  }
  .home .intro div {
    height: auto;
  }
  .home .intro div h1 {
    padding-top: 1em;
    font-size: 38px;
  }
  .home .intro div p {
    font-size: 20px;
  }
  .home .intro img {
    width: 300px;
  }
  .home .overview > p {
    font-size: 12px;
    width: 30ch;
  }
  .home .overview h1 {
    font-size: 38px;
  }
  .cards {
    flex-direction: column;
  }
  .card {
    width: 100%;
  }
  .projects>div> h1>span {
    font-size: 38px;
  }
  .projects > div > p {
    font-size: 12px;
    width: 30ch;
  }

  .project-card div{
    width: 300px;
  }
  .project-card div p{
    width: 30ch;
  }
  .project-card img{
    width: 100%;
  }
/* 
  .project-card{
    width: 100%;
  } */
  .qualifications > h1 > span{
    font-size: 38px;

  }

  .qualifications{
    /* width: 100%; */
    word-wrap:normal;
    margin: 0;
  }
  .qualicard{
    width: 300px;
    margin: 20px;
    justify-items: center;
  }
  .qualicard >h1 {
    font-size: 38px;
  }
  .qualicard > p {
    font-size: 12px;
  }

  .contactus{
    padding: 0;
  }
  .planets{
    padding: 0;
  }
  .inputs{
    padding: 0;
  }
  .inputs > h1 > span{
    font-size: 38px;
  }

  #earth{

    width: 300px;
    height: 300px;
    background-size: 600px;
    box-shadow: inset -50px -15px 25px 3px rgba(0, 0, 0, 0.9);
    animation: rotateVenus 25s infinite;
    animation-timing-function: linear;
  }

}
/* 
@media (max-width: 400px) {
  .project-card {
    width: 90vw;
  }
  .project-card p {
    /* width: 30ch; */
  /* }
} */ 
